::placeholder
{
    color: #ececec;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ececec;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #ececec;
  }

